/*
* @Author: Gabriel
* @Date:   2017-05-20 16:37:15
* @Last Modified by:   Gabriel
* @Last Modified time: 2017-05-20 16:39:51
*/
.leia_mais{
	font-size: 24px;
	padding: 8px;
	margin: 16px;
	display:  block;
	text-align:  center;
	background-color: #E6E7E8;
}
